button {
  transition: all ease-in-out 0.5s;
}

.toolbar-button {
  button {
    border-radius: 10px;
    padding: 5px 20px;
    box-shadow: none;
    height: 50px;
    border: 0;
    font-weight: 700;
    font-size: 14px;
    margin: 10px;
    cursor: pointer;
    outline: none;
    background: #fff;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgb(138, 138, 218);
      color: white;
    }
  }
  .popup-menu {
    display: none;
  }

  &:active,
  &:hover,
  &:focus-within {
    .popup-menu {
      display: block;
      position: absolute;
      top: 5rem;
      min-height: 50px;
      min-width: 70px;
      background: #fff;
      padding: 20px;
      border-radius: 15px;
    }
  }

  button.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

    span.icon {
      display: none;
    }

    &:hover {
      background-color: #fff;
      color: black;
    }
  }
  button.female {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span.icon {
      content: '';
      height: 20px;
      width: 20px;
      background-size: contain;
      background-image: url('https://cdn.iconscout.com/icon/free/png-256/female-symbol-1438487-1213996.png');
    }

    span.content {
      width: 0px;
      opacity: 0;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: rgb(240, 165, 215);
      width: 120px;
      transition: width 0.5s ease-in-out;

      span.icon {
        opacity: 1;
      }

      span.content {
        width: auto;
        opacity: 1;
      }
    }
  }
  button.male {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::before {
      content: '';
      height: 20px;
      width: 20px;
      background-size: contain;
      background-image: url('https://cdn.iconscout.com/icon/free/png-256/male-symbol-1438497-1214006.png');
    }

    span.content {
      width: 0px;
      opacity: 0;
    }

    &:hover {
      background-color: rgb(120, 225, 248);
      width: 120px;
      transition: width 0.5s ease-in-out;

      span.icon {
        opacity: 1;
      }

      span.content {
        width: auto;
        opacity: 1;
      }
    }
  }
  button.sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;

    &::before {
      content: '';
      height: 20px;
      width: 20px;
      background-size: contain;
      background-image: url('https://cdn.iconscout.com/icon/free/png-256/sort-1780015-1518405.png');
      transform: scaleX(-1);
    }

    span.content {
      width: auto;
      opacity: 1;
    }

    span.icon {
      opacity: 1;
    }

    &:hover,
    &:active {
      transition: width 0.5s ease-in-out;
    }
  }
  button.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span.icon {
      display: block;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      background-color: black;
      color: white;
      line-height: 1.8;
    }

    span.content {
      width: 0px;
      opacity: 0;
    }

    &:hover,
    &:active {
      width: 120px;
      transition: width 0.5s ease-in-out;

      span.icon {
        opacity: 1;
      }

      span.content {
        width: auto;
        opacity: 1;
      }
    }
  }
}

button.transaction.buynow {
  height: 45px;
  width: 200px;
  border-radius: 10px;
  background-color: rgb(56, 23, 56);
  color: white;
  font-size: 18px;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
  outline: none;
  margin: 1rem 0;

  &:hover {
    background-color: purple;
  }
}

button.transaction.add-to-cart {
  height: 45px;
  width: 200px;
  border-radius: 10px;
  color: rgb(56, 23, 56);
  background-color: white;
  font-size: 18px;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
  outline: none;
  border: 0.5px solid rgb(56, 23, 56);

  &:hover {
    background-color: purple;
    color: white;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;

  button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    background-color: rgb(56, 23, 56);
    color: #fff;
    border: 0;

    &:hover {
      background-color: #fff;
      color: black;
      border: 1px solid rgb(56, 23, 56);
    }
  }

  span {
    width: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  button.transaction.buynow,
  button.transaction.add-to-cart {
    width: 150px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .toolbar-button {
    button {
      height: 50px;
    }
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .toolbar-button {
    button {
      height: 50px;
    }
  }
}
