.cart-container {
  position: fixed;
  height: 50vh;
  overflow: hidden;
  width: 100vw;
  z-index: 3;
  bottom: 0;
  border-radius: 25px 25px 0 0;
  box-shadow: 0 0 2px #777;
  animation-name: cart;
  animation-duration: 2s;

  .cart {
    position: absolute;
    z-index: 3;
    background-color: #fff;
    box-shadow: 3px 3px 3px 2px #777;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    transition: all 0.5s ease-in-out;
    h1 {
      padding: 0 40px;
    }

    .cart-items-container {
      max-height: 50%;
      overflow-y: scroll;

      .items {
        max-height: 100%;
        overflow-y: auto;
        padding: 0 40px;

        .item {
          display: flex;
          justify-content: space-between;
          margin: 10px;
          box-shadow: 0px 0px 1px #777;

          img {
            width: 120px;
            height: 100%;
          }

          .description {
            margin: 0 10px;
            max-height: 100px;
            overflow: hidden;

            .name {
              white-space: normal;
              text-overflow: ellipsis;
              max-width: 80%;
            }
          }
          .price {
            font-size: 20px;
            font-weight: 700;
            color: purple;
          }
        }
      }
    }
    .cart-footer {
      display: flex;
      justify-content: flex-end;
      padding: 0 40px;
    }
  }
}

@keyframes cart {
  0% {
    height: 0vh;
  }
  100% {
    height: 50vh;
  }
}

@media screen and (max-width: 425px) {
  .cart-container {
    height: 100vh;
    .cart {
      width: auto !important;
      top: 4rem;

      h1 {
        padding: 0 20px;
      }

      .cart-items-container {
        .items {
          padding: 0;
          .item {
            img {
              width: 85px;
            }
            .price {
              margin-top: 0;
              font-size: 18px;
            }
            .description {
              .name {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }

  @keyframes cart {
    0% {
      width: 0rem;
      visibility: hidden;
      padding: 0;
    }
    100% {
      width: auto;
    }
  }
}
