.card {
  height: 500px;
  width: 200px;
  border-radius: 25px;
  background: #fff;

  img {
    border-radius: 15px 15px 0 0;
  }

  .card-detail {
    .title {
      font-size: 16px;
      font-weight: 600;
    }
    .subtitle {
      font-weight: 200;
    }
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    z-index: 1;
    height: 450px;
  }
  transition: all ease-in-out 0.3s;
}

@media screen and (max-width: 425px) {
  .card {
    width: 180px;
  }
}
