.carousel {
  padding: 20px;
  .main-box {
    height: 450px;
    width: 450px;
    background-color: black;
    margin: 50px;
  }
  .option-box {
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-right: 10px;
  }
}
