.close-icon {
  background: url('/close.svg');
}
.zero-open {
  height: 0vh;
  transition: all 0.1s ease-in-out;
  .cart-footer {
    height: 0vh;
  }
}
.half-open {
  height: 50vh;
  transition: all 0.1s ease-in-out;
  .cart-size {
    background: url('/fullscreen.svg');
  }
}
.full-open {
  height: 90vh;
  transition: all 0.1s ease-in-out;
  .cart-size {
    background: url('/fullscreen-exit.svg');
  }
}
.cart-container {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  z-index: 3;
  bottom: 0;
  border-radius: 25px 25px 0 0;
  box-shadow: 0 0 2px #777;
  animation-name: cart;
  animation-duration: 0.5s;

  .cart {
    position: absolute;
    z-index: 3;
    background-color: #fff;
    box-shadow: 3px 3px 3px 2px #777;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    transition: all 0.5s ease-in-out;

    .cart-header {
      padding: 0 40px;

      .cart-icon {
        height: 3rem;
        width: 3rem;
        background-size: 2rem;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .cart-items-container {
      max-height: calc(100% - 12rem);
      overflow-y: scroll;

      .items {
        max-height: 100%;
        overflow-y: auto;
        padding: 0 40px;

        .item {
          display: flex;
          justify-content: space-between;
          margin: 10px;
          box-shadow: 0px 0px 1px #777;

          img {
            width: 80%;
            height: 100%;
          }

          .description {
            margin: 0 10px;
            max-height: 100px;
            overflow: hidden;

            .name {
              white-space: normal;
              text-overflow: ellipsis;
              max-width: 80%;
            }
          }
          .price {
            font-size: 20px;
            font-weight: 700;
            color: purple;
          }
        }
      }
    }
    .cart-footer {
      position: fixed;
      display: flex;
      justify-content: flex-end;
      bottom: 0rem;
      right: 0rem;
      width: 100%;
      padding: 0 40px;
      background: #fff;
    }
  }
}

@keyframes cart {
  0% {
    height: 0vh;
  }
  100% {
    height: 50vh;
  }
}

@media screen and (max-width: 425px) {
  .cart-container {
    animation-duration: 0.1s;
    .cart {
      width: auto !important;
      top: 4rem;

      h1 {
        padding: 0 20px;
      }

      .cart-header {
        padding: 0;
      }

      .cart-items-container {
        max-height: calc(100% - 15rem);
        overflow-y: scroll;

        .items {
          padding: 0;
          .item {
            img {
              width: 85px;
            }
            .price {
              margin-top: 0;
              font-size: 18px;
            }
            .description {
              .name {
                max-width: 100%;
              }
            }
          }
        }
      }
      .cart-footer {
        padding: 0 20px;
      }
    }
  }

  .half-open {
    height: 100vh;
    .cart-size {
      display: none;
    }
  }
  .full-open {
    height: 100vh;
    .cart-size {
      display: none;
    }
  }

  @keyframes cart {
    0% {
      height: 0vh;
    }
    100% {
      height: 100vh;
    }
  }
}
