.detail {
  padding: 20px;

  .detail-panel {
    margin: 40px;

    .price-panel {
      .price-tag {
        font-size: 22px;
        font-weight: 700;
        color: rgb(16, 158, 28);
      }
    }
  }
}
