.detail {
  padding: 20px;

  .detail-panel {
    margin: 40px 20px;
    .name {
      font-size: 20px;
      font-weight: 200;
    }
    .product-id {
      margin: 0;
      font-size: 14px;
      font-weight: 600;
      color: gray;
    }
    .price-panel {
      .price-tag {
        font-size: 22px;
        font-weight: 700;
        color: purple;
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .detail {
    .detail-panel {
      margin: 0px;
    }
  }
}
