.explore {
  position: fixed;
  top: 5rem;
  li {
    a {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
    span {
      margin: 0px 10px;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .explore {
    top: 5.5rem;
  }
}

@media screen and (max-width: 425px) {
  .explore {
    position: relative;
    width: 100%;
    top: 0;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
