.header {
  padding: 0 3rem;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0;
  background: #fff;
  z-index: 7;

  .logo {
    padding: 10px 0px;
    cursor: pointer;
    img {
      width: 9rem;
    }
  }
  .cart {
    margin-right: 5px;
  }
}

.hello-name {
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    margin: 0px 10px;
  }

  .name {
    margin-left: 5px;
  }

  .profile-menu {
    visibility: hidden;
    position: absolute;
    top: 50px;
    right: 45px;
    background: #fff;
    width: 178px;
    box-sizing: border-box;
    border: 0.5px solid gray;
    border-radius: 15px;
    transform: translateY(0%);
    transition: all ease-in-out 0.3s;

    ul {
      padding: 0;
      list-style: none;
      li {
        padding: 10px;
        font-size: 14px;

        a {
          text-decoration: none;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
    .profile-menu {
      visibility: visible;
      transform: translateY(1em);
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    .logo {
      img {
        width: 8rem;
      }
    }
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .header {
    padding: 0 2rem;
    .logo {
      img {
        width: 7rem;
      }
    }
  }
  .profile-menu {
    right: 30px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 1rem;
    align-items: center;
    flex-direction: row-reverse;
  }

  .hello-name {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: none;

    img {
      border-radius: 50%;
      margin: 0px 10px;
      height: 50px;
    }

    .name {
      margin-left: 5px;
    }

    .profile-menu {
      position: absolute;
      opacity: 0;
      width: 0%;
      height: 120vh;
      top: 0;
      left: 0;
      background: #fff;
      box-sizing: border-box;
      border: 0;
      border-radius: 0px;
      transform: translateY(0em);
      transition: all ease-in-out 0.4s;
      box-shadow: 5px 0px 5px 0px #e4e4e4;

      ul {
        padding: 0;
        list-style: none;
        min-width: 200px;
        width: 100%;
        transform: translate(0, 3rem);
        li {
          padding: 20px 30px;
          font-size: 16px;
        }
      }
    }
  }

  .hello-name:hover {
    cursor: none;
    .profile-menu {
      opacity: 1;
      width: 80%;
      visibility: visible;
      transform: translateY(0em);
      animation-duration: 1.5s;
      animation-name: menu-enlarge;
    }
    img {
      z-index: 1;
      animation-duration: 2s;
      animation-name: image-slide-in;
      transform: translate(245px);
    }
    span {
      z-index: 1;
      transform: translateX(-45%);
      // animation-delay: 3s;
      animation-duration: 2s;
      animation-name: show-name;
      visibility: visible;
    }
    .cart {
      display: none;
    }
  }

  .toolbar {
    flex-wrap: wrap-reverse;
  }

  @keyframes image-slide-in {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(245px);
    }
  }
}

@media screen and (max-width: 325px) {
  .hello-name:hover {
    img {
      z-index: 1;
      animation-duration: 2s;
      animation-name: image-slide-in;
      transform: translate(170px);
    }
  }
  @keyframes image-slide-in {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(170px);
    }
  }
}

@media (min-width: 326px) and (max-width: 375px) {
  .hello-name:hover {
    img {
      z-index: 1;
      animation-duration: 2s;
      animation-name: image-slide-in;
      transform: translate(210px);
    }
  }
  @keyframes image-slide-in {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(210px);
    }
  }
}

@keyframes menu-enlarge {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes show-name {
  0% {
    z-index: 0;
    visibility: hidden;
    transform: translateX(0);
  }

  100% {
    visibility: visible;
    z-index: 1;
    transform: translateX(-45%);
  }
}
