.header {
  padding: 0 3rem;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0;
  background: #fff;
  z-index: 7;

  .logo {
    padding: 10px 0px;
    cursor: pointer;
    img {
      width: 9rem;
    }
  }
  .cart {
    margin-right: 5px;
  }
}

.hello-name {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    border-radius: 50%;
    margin: 0px 10px;
  }

  .name {
    margin-left: 5px;
  }

  .profile-menu {
    visibility: hidden;
    position: absolute;
    top: 50px;
    right: 45px;
    background: #fff;
    width: 178px;
    box-sizing: border-box;
    border: 0.5px solid gray;
    border-radius: 15px;
    transform: translateY(0%);
    transition: all ease-in-out 0.3s;

    ul {
      padding: 0;
      list-style: none;
      li {
        padding: 10px;
        font-size: 14px;
      }
    }
  }

  &:hover {
    .profile-menu {
      visibility: visible;
      transform: translateY(1em);
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    .logo {
      img {
        width: 8rem;
      }
    }
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .header {
    padding: 0 2rem;
    .logo {
      img {
        width: 7rem;
      }
    }
  }
  .profile-menu {
    right: 30px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 1rem;
    align-items: center;
    flex-direction: row-reverse;
  }

  .hello-name {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;

    img {
      border-radius: 50%;
      margin: 0px 10px;
      height: 50px;
    }

    .name {
      margin-left: 5px;
    }

    .profile-menu {
      visibility: hidden;
      position: absolute;
      top: 4rem;
      left: 1.5rem;
      background: #fff;
      width: 178px;
      box-sizing: border-box;
      border: 0.5px solid gray;
      border-radius: 15px;
      transform: translateY(0%);
      transition: all ease-in-out 0.3s;

      ul {
        padding: 0;
        list-style: none;
        li {
          padding: 10px;
          font-size: 14px;
        }
      }
    }

    &:hover {
      .profile-menu {
        visibility: visible;
        transform: translateY(1em);
      }
    }
  }
}
