.homepage {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: row;

  h1 {
    font-size: 2rem;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px 0px;
      font-weight: 200;
    }
  }

  .explore {
    width: 20%;
    li {
      span {
        margin: 0px 10px;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }

  .newin {
    width: 100%;
    .category-horizontal-card {
      height: 160px;
      width: 100%;
      display: grid;
      border-radius: 15px;
    }
    .category-vertical-card {
      height: 320px;
      width: 100%;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      font-size: 12px;
      text-align: center;
      background-color: whitesmoke;

      p {
        margin: 0 auto;
        padding: 30px;
      }
    }
  }
}
