.homepage {
  padding: 0rem 3rem;
  display: flex;
  flex-direction: row;
  margin: 4rem 0;
  top: 5%;
  z-index: 5;

  h1 {
    font-size: 2rem;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px 0px;
      font-weight: 200;
    }
  }

  .explore {
    position: fixed;
    width: 15%;
    li {
      span {
        margin: 0px 10px;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }

  .newin {
    width: 100%;
    padding: 0 0 0 calc(100% - 84.5%);
    transition: all ease-in 0.5s;
    z-index: 3;

    .sticky-toolbar {
      position: fixed;
      width: calc(100% - 20%);
      background: #fff;
      z-index: 1;
      padding: 0 2rem 0 0;
      box-sizing: border-box;
    }

    .highlights {
      padding: 5rem 0;
    }

    .category-horizontal-card {
      height: 160px;
      width: 100%;
      display: grid;
      border-radius: 15px;
    }
    .category-vertical-card {
      height: 320px;
      width: 100%;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      background-color: rgb(226, 224, 224);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0px -55px;

      p {
        margin: 0 auto;
        padding: 30px;
      }
    }

    .adidas {
      background-image: url('https://images.asos-media.com/products/adidas-originals-lxcon-94-trainers-in-white/12624921-1-white?$XXL$&wid=513&fit=constrain');
    }
    .sneakers {
      background-image: url('https://images.asos-media.com/products/asos-design-lightweight-super-skinny-joggers-in-light-khaki/13187225-1-mermaid?$XXL$&wid=513&fit=constrain');
    }
    .scarves {
      background-position: 0px;
      background-image: url('https://images.asos-media.com/products/asos-design-blanket-scarf-in-orange-and-black-brushed-check-with-tassels/13427903-1-orange?$XXL$&wid=513&fit=constrain');
    }
  }
}
