.homepage {
  padding: 0rem 3rem;
  display: flex;
  flex-direction: row;
  z-index: 5;

  h1 {
    font-size: 2rem;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px 0px;
      font-weight: 200;
    }
  }

  .category {
    position: absolute;
    top: 7rem;
    width: 100%;
    transition: all ease-in 0.5s;
    z-index: 3;

    .sticky-toolbar {
      position: fixed;
      width: calc(100% - 20%);
      background: #fff;
      z-index: 3;
      top: 4.5rem;
      left: 16.5rem;
      height: 100px;
      box-sizing: border-box;
    }

    .highlights {
      section.vertical-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 350px;
      }
      section.horizontal-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 350px;
        gap: 5%;
      }
    }

    .category-horizontal-card {
      height: 160px;
      width: 100%;
      display: flex;
      border-radius: 15px;
    }
    .category-vertical-card {
      height: 100%;
      width: 100%;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      background-color: rgb(226, 224, 224);
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .homepage {
    h1 {
      font-size: 1.6rem;
    }
    .category {
      .sticky-toolbar {
        top: 4.45rem;
        left: 12.5rem;
      }
    }
  }

  .toolbar {
    transform: translateY(5px);
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .homepage {
    padding: 0rem 2rem;
  }
  .homepage h1 {
    font-size: 1.6rem;
  }
  .homepage .category {
    width: 100%;
    padding: 0 0 0 calc(100% - 82.5%);
    transition: all ease-in 0.3s;
    z-index: 3;
    .sticky-toolbar {
      padding: 0 2rem 0 0;
    }
  }
  .toolbar {
    transform: translateY(5px);
  }
}

// For all mobile screens
@media screen and (max-width: 425px) {
  .homepage {
    padding: 0 20px;
    transform: translateY(2rem);
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 1.5rem;
    }
    .category {
      padding: 0;
      top: 2rem;

      .highlights {
        padding: 0 0 3rem 0;

        section.vertical-section {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 350px;
        }
        section.horizontal-section {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 850px;
        }
      }

      .toolbar {
        flex-wrap: wrap-reverse;
        padding: 1rem 0;
        width: 100%;
      }

      .sticky-toolbar {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 0;
        h1 {
          font-size: 1.5rem;
        }
      }

      .content {
        top: 2rem;
      }

      .category-vertical-card {
        background-size: cover;
        background-position: 100% 100%;
        height: 400px;
        width: 100%;
      }
    }
  }
  .toolbar {
    width: 100%;
    background: #fff;
    position: fixed;
    bottom: 0;
  }
}
