.no-border {
  border: none;
}

label.search-bar {
  display: flex;
  input {
    width: 45rem;
    font-size: 14px;
    font-weight: 300;

    &:focus,
    :active {
      outline: none;
    }
  }
}

// will figure out later
label.search-bar::before {
  content: '';
  display: inline-block;
  height: 25px;
  width: 25px;
  background-image: url('https://commons.wikimedia.org/wiki/File:Search_Icon.svg');
}

@media (min-width: 769px) and (max-width: 1024px) {
  label.search-bar {
    input {
      width: 25rem;
    }
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  label.search-bar {
    input {
      width: 15rem;
    }
  }
}

@media screen and (max-width: 425px) {
  label.search-bar {
    display: none;
    width: 100%;
    input {
      width: 100%;
    }
  }
}
