// display
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-block {
  display: block;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

// justify-content
.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

// align-items
.align-items-center {
  align-items: center;
}

//fonts
.font-weight-200 {
  font-weight: 200;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}

//padding
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-4 {
  padding: 4rem;
}
.p-5 {
  padding: 5rem;
}

//margin

.m-0 {
  margin: 0px;
}
.m-1 {
  margin: 0px;
}
.m-2 {
  margin: 0px;
}
.m-3 {
  margin: 0px;
}
.m-4 {
  margin: 0px;
}
.m-5 {
  margin: 0px;
}
