// display
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

// visibility
.v-hidden {
  visibility: hidden;
}

.v-visible {
  visibility: visible;
}

// cursor

.cursor-pointer {
  cursor: pointer;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

// justify-content
.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

// align-items
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}

//fonts
.font-weight-200 {
  font-weight: 200;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-22 {
  font-size: 22px;
}

//padding
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-4 {
  padding: 4rem;
}
.p-5 {
  padding: 5rem;
}

.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}
.px-4 {
  padding: 0 4rem;
}
.px-5 {
  padding: 0 5rem;
}

//margin

.m-0 {
  margin: 0;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.m-4 {
  margin: 4rem;
}
.m-5 {
  margin: 5rem;
}

.mx-0 {
  margin: 0 0;
}
.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}
.mx-4 {
  margin: 0 4rem;
}
.mx-5 {
  margin: 0 5rem;
}

.my-0 {
  margin: 0 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}
.my-5 {
  margin: 5rem 0;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}

// width

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
  margin: 0px 10px;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

// text
.text-center {
  text-align: center;
}

.text-muted {
  color: grey;
}

.text-uppercase {
  text-transform: uppercase;
}

// colored backgrounds
.cyan-background {
  background-color: rgb(170, 228, 255);
  justify-content: center;
  align-items: center;
}

.purple-background {
  background-color: rgb(250, 195, 250);
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 160px;
    width: 100%;
    background-size: contain;
    background-position: 100%;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-image: url('https://res.cloudinary.com/s8/image/fetch/c_limit,d_ff:categories:card:broken_image.svg,f_auto,q_auto,w_500/https://image1.superdry.com/static/images/products/upload9223368955665629539.jpg');
  }
}

.yellow-background {
  background-color: rgb(243, 211, 122);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 160px;
    width: 100%;
    background-size: contain;
    background-position: 90%;
    background-repeat: no-repeat;
    background-image: url('https://res.cloudinary.com/reeversedev/image/upload/v1585327507/prateek_4_n2opnj.svg');
  }
}

.pink-background {
  background-color: pink;
}

.position-relative {
  position: relative;
}

.bg-purple {
  background-color: rgb(252, 233, 255);
}

.rounded {
  border-radius: 25px;
}

select {
  width: 100px;
  height: 50px;
  border-radius: 0px;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 14px;
  outline: none;
}

@media (min-width: 769px) and (max-width: 2560px) {
  .d-lg-none {
    display: none;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .flex-md-column {
    flex-direction: column;
  }
  .w-md-100 {
    width: 100%;
  }
  .w-md-10 {
    width: 10%;
  }

  .w-md-20 {
    width: 20%;
  }

  .w-md-30 {
    width: 30%;
    margin: 0px 10px;
  }

  .w-md-40 {
    width: 40%;
  }

  .w-md-50 {
    width: 50%;
  }

  .w-md-60 {
    width: 60%;
  }

  .w-md-70 {
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  .flex-sm-column {
    flex-direction: column;
  }
  .align-items-sm-start {
    align-items: flex-start;
  }
  .d-sm-none {
    display: none;
  }
  .w-sm-100 {
    width: 100%;
  }

  .m-sm-0 {
    margin: 0;
  }
  .my-sm-1 {
    margin: 1rem 0;
  }
  .my-sm-2 {
    margin: 2rem 0;
  }
  .my-sm-3 {
    margin: 3rem 0;
  }
  .my-sm-4 {
    margin: 4rem 0;
  }
  .my-sm-5 {
    margin: 5rem 0;
  }

  .p-sm-0 {
    padding: 0;
  }
}
