@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900&display=swap');

// Components
@import '../components/layout';
@import '../components/input';
@import '../components/header';
@import '../components/homepage';
@import '../components/button';
@import '../components/carousel';
@import '../components/detail';
@import '../components/card';

// Pages
@import '../pages/suggested-products';

body {
  margin: 4rem 0;
  background-color: #ffff;
}

* {
  font-family: 'Nunito', sans-serif;
}
